.join{
    padding: 4.8rem 14.2%;
    background: radial-gradient(151.95% 463.58% at -44.29% -62.34%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
    text-align: center;
    color: $color-white;
    margin: 8%;
    .texts{
        margin: 2.4rem 0 4rem;
    }
    .button{
        margin:0 auto;
    }
}
@media screen and (max-width:1100px) {
    .join{
        padding: 4.2rem 10%;
        margin: 6%;
    }
}
@media screen and (max-width:950px) {
    .join{
        padding: 4.2rem 6%;
        margin: 5%;
    }
}
@media screen and (max-width:650px) {
    .join{
        padding: 4.2rem 5%;
        margin: 4%;
        .sub-heading{
            font-size: 3rem;
            line-height: 3rem;
        }
        .texts{
            font-size: 1.4rem;
            line-height: 2.2rem;
            margin: 2rem 0 3.5rem;
          }
    }
}
@media screen and (max-width:400px) {
    .join{
        padding: 4.2rem 2.4rem;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.1));
    }
}