.join{
    padding: 4.8rem 20.5rem;
    background: radial-gradient(151.95% 463.58% at -44.29% -62.34%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
    border-radius: 16px;
    text-align: center;
    color: $color-white;
    margin: 12rem;
    .texts{
        margin: 2.4rem 0 4rem;
    }
    .button{
        margin:0 auto;
    }
}