.productdescription{
  width: 70%;
  text-align: left;
  &__info{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 2.4rem;
    .bold{
      font-weight: 700;
    }
  }
}
@media screen and (max-width:850px) {
  .productdescription{
    width: 85%;
  }
}
@media screen and (max-width:600px) {
  .productdescription{
    width: 100%;
  }
}