.producthistory{
    .texts{
        color: $color-white;
        padding: 4rem 0 3rem 0;
        font-weight: 700;
    }
}
.lineChart{
    padding-top: 1rem;
    width: 100%;
    object-fit: cover;
}