.home{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 4;
    &__contents{
        padding: 5rem 0 5rem 12rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        justify-items: center;
    }
  }