.home{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 4;
    &__contents{
        padding: 3rem 0 5rem 8%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        place-items: center;
    }
    &__products{
        padding: 8rem 8%;
        .flexbox{
            padding-bottom:5.6rem ;
        }

    }
  }