$color-white: #ffffff;
$color-mainbg: #0F0B33;
$color-bgshadow:rgba(30, 80, 255, 0.5);
$color-bgshadow-darker: rgba(30, 80, 255, 0.75);
$color-gray:#ADB9C7;
$color-gray9:#272D37;
$color-pry-blue:#1E50FF;
$color-gray6:#8F9CA9;
$color-gray1:#0F182E;
$color-gray2:#E7ECF2;