@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');


@import "./styles/variables";


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body {
  background-color: $color-mainbg;
  font-family:"Poppins", sans-serif;
  color: $color-white;
}
.btn{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: $color-white;
  padding: 1.2rem 3rem;
  border-radius: 12px;
  border: 1px solid $color-pry-blue;
  z-index: 9;
  transition: 300ms ease;
  width: fit-content;
  &:hover{
     background-color: $color-pry-blue;
     cursor: pointer;
  }
}
.button{
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-transform: capitalize;
  color: $color-white;
  padding: 1.2rem 3rem;
  background-color: $color-pry-blue;
  border-radius: 12px;
  z-index: 10;
  transition: 300ms ease;
  border: 1px solid $color-pry-blue;
  width: fit-content;
  &:hover{
  background-color: rgba(0,0,0,0);
  cursor: pointer;
  }
}
.sub-heading{
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 6.4rem;
  color: $color-white;
}
.texts{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 3.2rem;
}
.mini-head{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.2rem;
  text-transform: capitalize;
}
.link{
  text-decoration: none;
}
.timerwrap{
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: baseline;
  z-index: 7;
  top: 0;
  left: 0;
  padding-top: 80%;
}
.timer{
  width: fit-content;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif ;
  display: flex;
  background-color: $color-gray1;
  padding: .5rem 1.5rem;
  align-items: center;
  border-radius: 1.6rem;
  height: min-content;
    &__icon{
      padding-right: 1.2rem;
      width: 3rem !important;
      height: 2.4rem !important;
      object-fit: fill;
  }
}
.flexbox{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width:950px) {
  .auctioncards{
    .card{
      overflow: scroll;
      .nftcard{
        width: 35vw;
      }
    }
  }
  .artists{
    overflow: scroll;
    .artist{
      width: 30vw;
      &__name{
        font-size: 2.2rem;
        line-height: 3rem;
      }
    }
  }
  .sub-heading{
    font-size: 4.5rem;
    line-height: 6.2rem;
  }
  .texts{
    font-size: 1.5rem;
    line-height: 3rem;
  }
  .mini-head{
    font-size: 2.2rem;
    line-height: 3rem;
  }
}

@media screen and (max-width:720px) {
  .auctioncards{
    .card{
      .nftcard{
        width: 40vw;
      }
    }
  }
  .artists{
    overflow: scroll;
    .artist{
      width: 35vw;
    }
  }
  .sub-heading{
    font-size: 4.3rem;
    line-height: 5.8rem;
  }
  .btn, .button{
    font-size: 1.4rem;
    padding: 1rem 1.6rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width:630px) {
  .auctioncards{
    .card{
      .nftcard{
        width: 45vw;
      }
    }
  }
  .artists{
    .artist{
      width: 35vw;
      &__name{
        font-size: 2rem;
        line-height: 2.6rem;
      }
      &__number{
        font-size: 1.5rem;
        line-height: 2rem;
    }
    }
  }
  .sub-heading{
    font-size: 4rem;
    line-height: 4.8rem;
  }
  .texts{
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .mini-head{
    font-size: 2rem;
    line-height:2.8rem;
  }
}

@media screen and (max-width:560px) {
  .auctioncards{
    .card{
      .nftcard{
        width: 55vw;
      }
    }
  }
  .artists{
    .artist{
      width: 45vw;
    }
  }
}

@media screen and (max-width:480px) {
  .artists{
    .artist{
      width: 55vw;
    }
  }
  .sub-heading{
    font-size: 3.45rem;
    line-height: 4.2rem;
  }
}
@media screen and (max-width:430px) {
  .auctioncards{
    .card{
      .nftcard{
        width: 65vw;
      }
    }
  }
.artists{
  .artist{
    width: 65vw;
  }
}
.sub-heading{
  font-size: 3rem;
  line-height: 3.6rem;
}
}
@media screen and (max-width:400px) {
  .sub-heading{
    font-size: 2.8rem;
    line-height: 3.2rem;
  }
  .btn, .button{
    font-size: 1.2rem;
    padding: 1rem 1.4rem;
    line-height: 1.7rem;
  }
}

@media screen and (max-width:360px) {
  .auctioncards{
    .card{
      .nftcard{
        width: 75vw;
      }
    }
  }
.artists{
  .artist{
    width: 75vw;
  }
}
.sub-heading{
  font-size: 2.4rem;
  line-height: 3rem;
}
}
@media screen and (max-width:320px) {
  .auctioncards{
    .card{
      .nftcard{
        width: 80vw;
      }
    }
  }
.artists{
  .artist{
    width: 80vw;
  }
}
.sub-heading{
  font-size: 2.1rem;
  line-height: 2.6rem;
}
}

@import "./backgrounds/bg-styles/linebg.scss";
@import "./backgrounds/bg-styles/blurbg.scss";

@import "./styles/components/logo.scss";
@import "./styles/components/nav.scss";
@import "./styles/components/homeDescription.scss";
@import "./styles/components/homeImages.scss";
@import "./styles/components/wallet.scss";
@import "./styles/components/guide.scss";
@import "./styles/components/nftcard.scss";
@import "./styles/components/footer.scss";
@import "./styles/components/joinCommunity.scss";
@import "./styles/components/productdescription.scss";
@import "./styles/components/productoffers.scss";
@import "./styles/components/producthistory.scss";
@import "./styles/components/artists.scss";



@import "./styles/pages/home.scss";
@import "./styles/pages/discover.scss";
@import "./styles/pages/Product.scss";